<template>
    <form class="callback-form CKiForm" @submit.prevent="submitThis()" :class="[device_platform, {horizontal: horizontal}, formClass]">
        <div class="input-block">
            <div class="question" :class="questionClass">Хотите получить персональные условия?</div>
            <div class="custom-select">
                <select ref="salon_select">
                    <option v-for="salon in CONSTANTS.salons"
                            :selected="cur_office === salon"
                            class="dropdown-item"
                            :value="salon.phone">
                        Ауди {{salon.name}}
                    </option>
                </select>
            </div>
            <input name=”tel” class="tel" type="tel" :title="'Введите номер телефона'" placeholder="Телефон" v-model="phone" ref="phone" v-mask
                   :pattern="'.*[0-9]{1}.*[0-9]{3}.*[0-9]{3}.*[0-9]{4}'"
                   required>
        </div>

        <div class="agreement">
            <checkbox v-model="acceptance"></checkbox>
            <div class="agreement-text" :style="agreementStyle || {}" v-if="CONSTANTS.need_agreement">
               <span class="agreement-link" @click="getAgreement">Согласие</span> на обработку персональных данных в целях использования запроса
            </div>
        </div>
        <div class="agreement">
            <checkbox v-model="communication"></checkbox>
            <div class="agreement-text" :style="agreementStyle || {}" v-if="CONSTANTS.need_agreement">
               Согласие на рекламную коммуникацию
            </div>
        </div>
        <div @click="submitThis" class="button button_more_info CKFormTrigger"
             :class="{disabled: !agreed}" ref="submitter">
            <slot>{{data.form === 'contacts' ? 'Получить предложение': 'Узнать подробности'}}</slot>
            <!--               &nbsp<span class="arrow"></span>-->
        </div>
    </form>
</template>

<script>
    import Mixin from '@/common/mixin';
    import Mask from '@/common/mask';
    import Checkbox from '../checkbox';

    export default {
        name: "callback-input",
        components: {Checkbox},
        directives: {Mask},
        mixins: [Mixin],
        props: ['horizontal', 'agreementStyle', 'data', 'questionClass', 'cur_office', 'formClass'],
        data() {
            return {
                acceptance: true,
                communication: true,
                acceptance_advert: true,
                phone: '',
               /* cur_office: null*/
            }
        },
        computed: {
            agreed() {
                return this.acceptance && this.acceptance_advert;
            }
        },
        methods: {
           /* setOffice(e) {
                this.cur_office = this.CONSTANTS.salons.find(off => off.phone === e.target.value);
            },*/
            getAgreement() {
                this.$emit('getAgreement');
            },
            submitThis() {
                if (this.$refs.phone.validity.valueMissing || !this.$refs.phone.validity.valid) {
                    this.$refs.phone.setCustomValidity('Введите номер телефона');
                }
                if (!this.$refs.phone.validity.valueMissing && !this.$refs.phone.validity.patternMismatch) {
                    this.$refs.phone.setCustomValidity('');
                }

                if (this.agreed && this.$el.reportValidity()) {
                    this.$emit('callBack', {
                        phone: this.phone,
                        data: this.data,
                    });
                    if (typeof ckForms !== "undefined") {
                        ckForms.send(this.$el);
                    }
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../styles/constants.scss";

    .desktop {
        input, select {
            max-width: 305px;
        }
        .button_more_info {
            max-width: 305px;
        }
        .agreement {
            margin-top: 10px;
        }
    }

    .mobile {
        .agreement-text {
            max-width: 90%;
        }

        .button_more_info {
            width: 100%;
        }

        .callback-form {
            text-align: left;
            text-shadow: none;
        }

        .tablet_white {
            color: white;
        }
    }

    .tablet {
        input, select {
            width: 305px;
        }
        .agreement {
            margin-top: 10px;
        }
        .button_more_info {
            max-width: 305px;
        }

        .horizontal {
            input, .button_more_info {
                width: 270px;
            }
        }

        .tablet_white {
            color: white;
        }
    }

    input {
        width: 100%;
        height: 35px;
        margin-bottom: 10px;
        border: 1px solid #e1e1e1;
        text-align: left;
        padding-left: 30px;
        color: #000;
        background: url('../../images/utils/call.svg') no-repeat center white;
        background-position-y: center;
        background-position-x: 98.3%;
        background-size: 7%;

        &::placeholder {
            font-family: AudiTypeExt;
            text-align: left;
        }
    }

    .callback-form {
        width: 370px;
        padding: 20px 30px 20px 25px;
        background:white;
        &.grey_form {
            background: rgba(0, 0, 0, 0.5);
        }
    }


    .custom-select {
        width: 100%;
        position: relative;
    }

    .question {
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 600;
    }

    .hidden {
        display: none;
    }

    select {
        width: 100%;
        height: 35px;
        margin: 5px 0px;
        border: 1px solid #e1e1e1;
        text-align: center;
        color: #000;
        font-family: AudiTypeExt;
        background: url('../../images/utils/select-arrow-down.png') no-repeat right white;
        background-size: contain;
        padding: 0px 0px 0px 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance:none;
        -moz-appearance:none;
    }

    .agreement {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .agreement-text {
        font-size: 12px;
        font-weight: 300;
        max-width: 300px;
        color: #000;
    }

    .arrow {
        position: relative;
        bottom: -2px;
        background-image: url("../../images/strelka-white.png");

    }

    .button_more_info {
        width: 80%;
        font-size: 14px;
        margin: 20px 0px 5px 0px;
        height: 54px;
    }

    .disabled {
        background: white;
        color: black;
    }

    .agreement-link {
        font-size: 1.1em;
        font-weight: 600;
        cursor: pointer;
    }

    .input-block {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        &.standart {
            flex-direction: column;
        }
    }

    .horizontal {
        .input-block {
            flex-direction: row;
        }

        .button_more_info {
            margin: 0 0 0 15px;
            width: 360px;
            flex-shrink: 0;
        }

        input {
            flex-shrink: 0;
            background: white;
        }
    }

    .tel:hover {
        text-align: left;
        padding-left: 30px;
    }
</style>
