<template>
    <div class="form-container" :class="[device_platform]">
        <div class="form-top-part" @click="hideSelf">

            <!--<div class="form-close" @click="hideSelf"></div>-->
        </div>
        <div class="form-main-part">
            <!--<div class="contact-header">
                Ауди Центр Варшавка
            </div>-->
            <!--<a :href="'tel:' + CONSTANTS.phone_raw" class="phone" v-if="type === 'contacts'">
                {{CONSTANTS.phone}}
            </a>
            <div class="contacts-container" v-if="type === 'contacts'">
                <div class="address">
                    {{CONSTANTS.address}}
                </div>

                <div class="worktime">
                  &lt;!&ndash;  Салон: {{CONSTANTS.salon_worktimes[0]}}&ndash;&gt;
                </div>
                <div class="worktime">
                   &lt;!&ndash; Сервис: {{CONSTANTS.service_worktimes[0]}}&ndash;&gt;
                </div>
            </div>-->
            <!--<div class="summer-conditions" v-show="type === 'summer'">
                <div >Получите </div>
                <div>ИДЕАЛЬНЫЕ УСЛОВИЯ</div>
                <div >на покупку Вашего Audi</div>
            </div>-->
<!--            <ul class="advantages" v-show="type === 'advantages'">-->
<!--                <li class="advantage">Огромный выбор комплектаций и автомобилей в наличии</li>-->
<!--                <li class="advantage">Идеальные предложения на покупку Audi</li>-->
<!--                <li class="advantage">Специальная ставка по кредиту от 7%<sup>1</sup></li>-->
<!--                <li class="advantage">Гарантия 4 года<sup>2</sup></li>-->
<!--                <li class="advantage">Бонус по программе Трейд - ин <span style="white-space: nowrap">до 170 000 руб. <sup>3</sup></span></li>-->
<!--                <li class="advantage">Бонус по программе «Премия лояльности Audi» <span style="white-space: nowrap">до 200 000 руб.<sup>4</sup ></span></li>-->
<!--            </ul>-->
            <callback-input :data="data" :agreementStyle="agreementStyle" :questionClass="questionClass" :formClass="formClass" ref="callback-input"
                            v-on="$listeners"><div v-if="type === 'advantages'">Получить предложение</div></callback-input>
        </div>
    </div>
</template>

<script>
    import CallbackInput from './callback-input';
    import Mask from '@/common/mask';
    import Mixin from '@/common/mixin';

    export default {
        name: '',
        components: {CallbackInput},
        directives: {Mask},
        mixins: [Mixin],
        props: ['data', 'type', 'agreementStyle', 'questionClass', 'formClass'],
        data() {
            return {
                acceptance: true,
                acceptance_advert: true,
                phone: ''
            }
        },
        computed: {
            agreed() {
                return this.acceptance && this.acceptance_advert;
            }
        },
        methods: {
            hideSelf() {
                this.$emit('close');
            },
            getAgreement() {
                this.$emit('getAgreement');
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../styles/constants.scss";

    .desktop {
        /*&.form-container {*/
        /*    width: 478px;*/
        /*    height: 600px;*/
        /*}*/

        .logo-audi {
            width: 96px;
            height: 34px;
        }
        .summer-conditions {
            margin: 24px 0 36px;
        }

    }

    .mobile {
        &.form-container {
            /*height: 380px !important;*/
            /*width: 300px !important;*/
        }

        .callback-form {
            width: 300px;
        }
        .logo-audi {
            width: 78px;
            height: 28px;
        }
        .form-main-part {
            height: calc(100% - 131px);

        }

        .form-top-part {
            height:131px;
        }


    }

    ::placeholder {
        font-family: AudiTypeExt;
        font-weight: 400;
        color: #949494;
    }

    .bg_none {
        background: #fff !important;
    }

    .standart {
        input {
            width: 100%;
            margin-bottom: 5px;
        }
    }

    .agreement-caller {
        color: #ffffff;
        cursor: pointer;
        text-decoration: underline;
    }

    .form-top-part {
        width: 100%;
        height: 162px;
        background: #f2f2f2 url("../../images/background/callback_img.png") no-repeat;
        background-size: contain;
        display: flex;
        justify-content: flex-end;
    }

    .form-main-part {
        height:calc(100% - 153px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .advantages {
        font-size: 0.9em;
        padding: 10px 0;

        sup {
            font-size: 0.8em;
        }
    }

    .logo-audi {
        margin: 16px 0 0 19px;
        background-image: url("../../images/logo-audi-black.png");
        background-size: contain;
    }

    .form-close {
        background: url("../../images/utils/close.png") no-repeat center;
        width: 39px;
        height: 39px;
        background-size: cover;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }

    .contact-header {
        padding-bottom: 10px;
        font-size: 18px;
        font-family: AudiTypeExt;
        font-weight: 600;
        text-align: left;
    }

    .address {
        padding-bottom: 5px;
    }

    .phone {
        font-size: 30px;
        font-weight: 600;
    }

    .worktime {
        font-size: 14px;
    }

    .contacts-container {
        padding-bottom: 22px;
        font-weight: 300;
    }

    .summer-conditions {
        font-size: 15px;
        font-family: AudiTypeExt;
        height: 68px;
        display: flex;
        font-weight: bold;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        color: #000;
        box-shadow: 0 1px 2px #333;
    }
</style>
