:root {
  --audi_red: #bb0a30;
  --green: #c22821;
  --dark_gray: #4d4d4d;
  --car_footer_gray: #b3b3b3;
  --blue_common_rgb: 0, 44, 95;

  --audi_background: #f2f2f2;
  --background_common: #ece9e6;
  --background_block: #f7f6f4;
  --header_background: #ffffff;

  --button_common: #000;
  --button_common_hover: #5e5e5e;
  --button_common_disabled: #5f6d90;
  --button_more_info_hover: #990030;
  --button_uncommon: #ffffff;
  --button_uncommon_hover: #b8b8b8;
  --button_standart: #575757;
  --button_standart_hover: #373737;
  --swiper_button_disabled: #f7f7f7;

  --form: #f6f3f2;
  --font: #28596a;
}

