
html, body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  -webkit-tap-highlight-color: currentcolor;
}

input {
  border: 1px solid #444;
  font-size: 14px;
}

#app {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
  &:active,
  &:visited {
    color: #ffffff;
  }
}