
@font-face {
  font-family: AudiType;
  src: url('./fonts/AudiTypeScreen-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: AudiType;
  src: url('./fonts/AudiTypeScreen-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: AudiTypeExt;
  src: url('./fonts/AudiType-ExtendedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: AudiTypeExt;
  src: url('./fonts/AudiType-ExtendedNormal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: AudiType;
  src: url('./fonts/AudiTypeScreen-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

#app {
  font-family: AudiType, sans-serif;
}
