@import "dom.scss";
@import "fonts.scss";
@import "transitions.scss";
@import "constants.scss";
@import '../../node_modules/swiper/dist/css/swiper.css';

sup {
    font-size: 13px;
}

.container_wide {
    max-width: 1300px;
    margin: auto;
}

.mobile .container_wide {
    max-width: 100%;
}

.bg_active {
    background: var(--button_common);

    &:hover {
        background: var(--button_common_hover);
    }
}

.pos-rel {
    position: relative;
    z-index: 2;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.vis-none {
    visibility: hidden;
}

.dspl-none {
    display: none;
}

.panel-container {
    padding: 30px 0 0 22px;
    background: #ffffff;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    margin: 45px;
}

button.button_common {
    width: 100%;
}

.button_common {
    color: #000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    border: 1px solid #000;

    &:not(.disabled) {
        cursor: pointer;
        background: #fff;
    }

    &.disabled {
        background: var(--button_common_disabled);
    }

    &:hover:not(.disabled) {
        background: #000;
        color: #fff;
    }
}

.button_uncommon {
    background: var(--button_uncommon);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;

    &:hover {
        background: var(--button_uncommon_hover);
    }
}

.button_more_info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: AudiTypeExt;
    font-weight: 500;
    background-color: var(--audi_red);

    &:not(.disabled) {
        cursor: pointer;
    }

    &:hover:not(.disabled) {
        background-color: #fff !important;
        color: #000;
        border: 1px solid #000;
    }
}

.button_standart {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #b3b3b3;
    color: #ffffff;
    text-align: center;

    &:not(.disabled) {
        cursor: pointer;
        background: var(--button_standart);
    }

    &:hover:not(.disabled) {
        background: var(--button_standart_hover);
    }
}

.button_rare {
    border: 1px solid #000;
    margin: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover:not(.disabled) {
        background: #d4d4d4;
    }
}

.more-sign {
    content: '';
    width: 26px;
    height: 26px;
    transform: rotate(-90deg);
    background-size: 70%;
}

.scroll-blocked {
    height: 100%;
    overflow: hidden;
}

.block-header {
    font-size: 36px;
    font-weight: bold;
}

.block-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.header-title {
}

.block-header__text {
    font-size: 19px;
}

.c_pointer {
    cursor: pointer;
}

.desktop {
    .width-container {
        width: 100%;
        max-width: 1300px;
        margin: auto;
        padding: 0 10px;
    }
}

.tablet {
    .width-container {
        width: 100%;
    }
}

.mobile {
    .width-container {
        width: 310px;
    }
}

.header-block-container {
    a.phone {
        color: rgb(204, 0, 51);
        font-family: AudiTypeExt;
    }
}
