.crawl_right{
  &-enter, &-leave-to {
    transform: translate3d(100%, 0, 0);
  }
}

.crawl_top {
  &-enter, &-leave-to {
    transform: translate3d(0, -100vh, 0);
  }
}

.crawl_top,
.crawl_right {
  &-enter-active, &-leave-active {
    transition: transform 150ms;

  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 200ms;
}

.fade-enter, .fade-leave-to {
  opacity: 0
}