<template>
    <section class="block-advantages-container" :class="[device_platform]">
        <div class="block-header">Постоянные преимущества на Q-серию для клиентов</div>
        <section class="advantages-container" v-if="device_platform !== 'mobile'">
            <section class="advantage-block" v-for="advantage in advantages">
                <div class="advantage-img" :class="advantage.icon"></div>
                <div class="advantage-text"><span v-html="advantage.text"></span></div>
            </section>
        </section>

        <div class="advantages-swiper-arrow advantages-swiper-arrow-left" v-if="device_platform === 'mobile'"></div>
        <div class="advantages-swiper-arrow advantages-swiper-arrow-right" v-if="device_platform === 'mobile'"></div>
        <div class="advantages-swiper-container" v-if="device_platform === 'mobile'">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="slide in arraySlides">
                    <div class="advantages-container">
                        <div class="advantage-block" v-for="advantage in slide.advantages">
                            <div class="advantage-img" :class="advantage.icon"></div>
                            <div class="advantage-text">
                                <span v-html="advantage.text"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import Mixin from '../common/mixin';
    import Swiper from 'swiper';

    export default {
        name: "block-advantage",
        components: {},
        mixins: [Mixin],
        data() {
            return {
                advantages: [
                    {
                        text: 'Огромный выбор автомобилей в наличии',
                        icon: 'big_choice'
                    },
                    {
                        text: 'Кредит от 5%<sup>7</sup>',
                        icon: 'credit'
                    },
                    {
                        text: 'Бонусы по программе трейд-ин<sup>2</sup>',
                        icon: 'trade_in'
                    },
                    {
                        text: '2 ТО в подарок<sup>5</sup>',
                        icon: 'to'
                    },
                    {
                        text: 'Яркий и динамичный тест-драйв',
                        icon: 'test_drive'
                    },
                    {
                        text: 'Гарантия 4 года<sup>1</sup>',
                        icon: 'warranty'
                    },
                    {
                        text: 'Программа лояльности «Лига привилегий Audi»',
                        icon: 'loyalty_program'
                    },
                    {
                        text: 'Выкуп Вашего автомобиля до 100% от рыночной стоимости',
                        icon: 'buyback'
                    },
                    {
                        text: 'Бонусы по программе Audi Leasing',
                        icon: 'audi_leasing'
                    }
                ],
                advantage_swiper: null
            }
        },
        mounted() {
            if (this.device_platform === 'mobile') {
                this.initSwiper();
            }
        },
        watch: {
            device_platform(val) {
                if (val === 'mobile') {
                    this.initSwiper();
                } else if (this.advantage_swiper) {
                    this.advantage_swiper.destroy();
                    this.advantage_swiper = null;
                }
            }
        },
        computed: {
            arraySlides() {
                let array = [];
                for (var i = 0; i < Math.floor(this.advantages.length/3); i++) {

                 let arr = this.advantages.slice(0).slice(3*i, 3*i + 3);
                    array.push({advantages: arr});
                }
                return array;
            }
        },
        methods: {
            initSwiper() {
                if (this.advantage_swiper) {
                    return
                }
                this.$nextTick(() => {
                    this.advantage_swiper = new Swiper('.advantages-swiper-container', {
                        loop: true,
                        simulateTouch: false,
                        autoplay: {
                            delay: 3000,
                        },
                        navigation: {
                            nextEl: '.advantages-swiper-arrow-right',
                            prevEl: '.advantages-swiper-arrow-left',
                        },
                    });
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../styles/constants.scss";
    .tablet {
        &.block-advantages-container {
            width: 90%;
        }

        .advantage-text {
            width: 80%;
        }

        .block-header {
            font-size: 25px;
        }
    }

    .mobile {
        &.block-advantages-container {
            position: relative;
            width: 90vw;
        }

        .advantages-container {
            flex-direction: column;
            align-items: center;
        }
        .advantage-block {
            width: 180px;
        }

        .advantage-text {
            width: 100%;
        }

        .block-header {
            font-size: 20px;
        }
    }

    .block-advantages-container {
        width: 80%;
    }

    .advantages-swiper-arrow {
        position: absolute;
        top: 50%;
        width: 25px;
        height: 47px;
        z-index: 99999;
        cursor: pointer;
        outline: none;
        &.advantages-swiper-arrow-right {
            background: url('../images/utils/arrow-right.png') no-repeat center;
            background-size: cover;
            right: 0;
        }
        &.advantages-swiper-arrow-left {
            background: url('../images/utils/arrow-left.png') no-repeat center;
            background-size: cover;
            left:  0;
        }
    }


    .advantage-block {
        width: 20vw;
        margin: 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advantage-img {
        width: 67px;
        height:63px;
        margin-bottom: 30px;
        &.audi_leasing {
            background: url('../images/icons/audi_leasing.png');
            background-size: contain;
        }
        &.big_choice {
            background: url('../images/icons/big_choice.png');
            background-size: contain;
        }
        &.buyback {
            background: url('../images/icons/buyback.png');
            background-size: contain;
        }
        &.credit {
            background: url('../images/icons/credit.png');
            background-size: contain;
        }
        &.loyalty_program {
            background: url('../images/icons/loyalty_program.png');
            background-size: contain;
        }
        &.test_drive {
            background: url('../images/icons/test_drice.png');
            background-size: contain;
        }
        &.to {
            background: url('../images/icons/to.png');
            background-size: contain;
        }
        &.trade_in {
            background: url('../images/icons/trade_in.png');
            background-size: contain;
        }
        &.warranty {
            background: url('../images/icons/warranty.png');
            background-size: contain;
        }
    }

    .advantages-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantage-text {
        width: 55%;
        text-align: center;
    }

    .block-header {
        text-align: center;
        font-size: 30px;
        font-family: AudiTypeExt, sans-serif;
        font-weight: 600;
        margin: 67px 0;
    }

    @media (max-width: 1500px) {
        .desktop {
            .advantage-text {
                width: 83%;
            }
        }
    }
</style>
