<template>
    <div class="footer-container" :class="[device_platform]">
        <div class="footer-text">
            <div class="footer-oferta">
                Данный сайт носит исключительно информационно-справочный характер, не является публичной офертой.
            </div>
            <!--<div class="addition-info">
                Подробности акции по телефону <a class="phone" :href="'tel:'+ CONSTANTS.phone_raw">
                {{CONSTANTS.phone}}
            </a> и в дилерском центре Ауди Центр Варшавка.
            </div>-->
        </div>
    </div>
</template>

<script>
    import Mixin from '../common/mixin';

    export default {
        name: "block-footer",
        mixins: [Mixin],
        data() {
            return {}
        },
        created() {

        }
    }
</script>

<style scoped lang="scss">
    @import "../styles/constants.scss";

    .mobile {
        &.footer-container {
             padding: 0 16px 28px;
             font-size: 14px;
         }
        .footer-text {
            padding: 25px 0 0;
        }
    }

    .tablet {
        &.footer-container {
            padding-top: 20px;
            padding-bottom: 28px;
        }
        .footer-text {
            padding: 0;
        }
        .footer-oferta {
            padding: 0 130px;
        }
        .addition-info {
            padding: 0 210px;
        }
    }

    .phone {
        color: #fff;
        white-space: nowrap;
    }

    .footer-container {
        background: var(--dark_gray);
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
    }

    .footer-text {
        padding: 10px 0 35px;
        text-align: center;
    }
</style>