<template>
    <div :class="[device_platform]" class="block-main-container">
        <div class="content-container">
            <div class="menu"
                 v-if="device_platform !== 'mobile'">
                <section class="menu-container">
                    <div @click="scrollTo('advantages')" class="menu-button">
                        Специальные предложения
                    </div>
                    <div @click="scrollTo('q5')" class="menu-button">
                        Audi Q5
                    </div>
                    <div @click="scrollTo('q7')" class="menu-button">
                        Audi Q7
                    </div>
                    <div @click="scrollTo('q8')" class="menu-button">
                        Audi Q8
                    </div>
                    <div @click="scrollTo('contacts')" class="menu-button">
                        Контакты
                    </div>
                </section>
            </div>
        </div>

        <div class="swiper-arrow swiper-arrow-left" v-if="device_platform !== 'mobile'"></div>
        <div class="swiper-arrow swiper-arrow-right" v-if="device_platform !== 'mobile'"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="slide in slides" v-once>
                    <div :class="slide.model" class="car-img">

                        <div class="bg-text-new">
                            <div class="bg-title" v-html="slide.title">
                            </div>

                            <div class="bg-small-text">
                                    <span v-html="slide.text">
                                    </span>
                            </div>
                            <div class="input">
<!--                                <div class="input-text"-->
<!--                                     v-html="slide.form_text">-->
<!--                                </div>-->
                                <callback-input :agreementStyle="{color: 'white','font-size': '10px'}"
                                                :questionClass="'tablet_white'"
                                                :data="{type: 'sale', form: 'main'}"
                                                :horizontal="false"
                                                v-on="$listeners"
                                                :cur_office="cur_office">
                                    {{slide.button || 'Получить предложение'}}
                                </callback-input>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import CallbackForm from './callback-form';
    import FullGet from './full-get';
    import Mixin from '../common/mixin';
    import BlockClock from './block-clock';
    import CF from '../common/common-functions';
    import filters from '../common/finance';
    import $ from 'jquery';
    import CallbackInput from './callback-form/callback-input';
  /*  import SwiperMixin from '../common/swiper-mixin'*/
    import Swiper from 'swiper';


    export default {
        name: "block-main",
        components: {
            BlockClock,
            CallbackForm,
            CallbackInput,
            FullGet,
        },
        props: ['cur_office'],
        mixins: [Mixin, filters, Mixin],
        data() {
            return {
                date: CF.getDateString(),
                swiper: null,
                slides: [
                    {
                        title:'Только до 30 сентября<br>Дни исключительных преимуществ на <span style="white-space: nowrap;">Q-модели.</span><br>Таких предложений уже не будет',
                        text: '',
                        form_text: '',
                        model: 'vostok'
                    },
                    {
                        title: 'Предложение месяца на Audi Q5',
                        text: 'Преимущество на Audi Q5 до 150 000 рублей<sup>2</sup> по программе трейд-ин Audi Q5. Кредит от 5%<sup>7</sup>',
                        form_text: 'Забронируйте Audi из закрытого списка прямо сейчас',
                        model: 'q5',
                    },
                    {
                        title: `Предложение месяца на Audi Q7`,
                        text: `Преимущество до 200 000 рублей<sup>2</sup> по программе трейд-ин Audi Q7. Кредит от 5%<sup>7</sup>`,
                        form_text: 'Забронируйте Audi Q7 из закрытого списка прямо сейчас',
                        model: 'q7',
                    },
                    {
                        title: `Audi Q8 от 5 060 000 рублей`,
                        text: `Безупречные условия на 20 <span style="white-space:nowrap;">Audi Q8</span> в роскошных комплектациях`,
                        form_text: 'Особый подарок первым покупателям <span style="white-space:nowrap;">Audi Q8</span>',
                        model: 'q8',
                        button: 'Заказать звонок'
                    }
                ],
                // swipersConfigs: [{
                //     ref: 'swiper',
                //     params: {
                //         autoplay: {
                //             delay: 10000,
                //         },
                //         initialSlide: 0,
                //         autoHeight: true,
                //         slidesPerView: 1,
                //         centeredSlides: true,
                //         keyboard: {
                //             enabled: true,
                //             onlyInViewport: false,
                //         },
                //         navigation: {
                //             nextEl: '.swiper-button-next',
                //             prevEl: '.swiper-button-prev',
                //         },
                //         loop: true
                //     },
                //     enable_hashing: false,
                //     forbidden_platforms: ['mobile']
                // }]
            }
        },
        mounted() {
            if (this.device_platform === 'desktop') {
                this.initSwiper();
            }
        },
        watch: {
            device_platform(val) {
                if (val === 'desktop') {
                    this.initSwiper();
                } else if (this.swiper) {
                    this.swiper.destroy();
                    this.swiper = null;
                }
            }
        },
        methods: {
            scrollTo(where) {
                let newhash = '#' + where;
                history.replaceState(null, null, newhash);
                this.$emit('scrollTo', where);
            },
            initSwiper() {
                if (this.swiper) {
                    return
                }
                this.$nextTick(() => {
                    this.swiper = new Swiper('.swiper-container', {
                        loop: true,
                        simulateTouch: false,
                        autoplay: {
                            delay: 10000,
                        },
                        navigation: {
                            nextEl: '.swiper-arrow-right',
                            prevEl: '.swiper-arrow-left',
                        },
                    });
                });
            },
            getAllCarPreview() {
                this.$emit('getAllCarPreview')
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../styles/constants.scss";
    .tablet {
        &.block-main-container {
            height: 950px;
            background: white;
        }

        .bg-text-new {
            width: 100%;
            height: auto;
            margin-top: 20px;
            right: initial;
            padding-top: 0;
            font-size: 22px;
            background: transparent;
            color: black;
        }

        .callback-form {
            background-color:rgba(0, 0, 0, 0.5);
        }

        .car-img {
            height: 560px;
        }

        .input {
            width: auto;
            position: absolute;
            top: 470px;
            left: calc(50vw - 185px);
        }

        .input-text {
            width: 650px;
        }

        .swiper-arrow {
            display: none;
        }
    }

    .mobile {
        &.block-main-container {
            height: calc(100vw*900/1920 + 350px);
            background: white;
        }

        .bg-text-new {
            width: 100%;
            height: auto;
            min-width: 100vw;
            margin-top: 20px;
            right: initial;
            padding: 0;
            font-size: 22px;
            font-size: calc( (100vw - 320px)/(815 - 320) * (22 - 15) + 15px);
            background: transparent;
            color: black;
            text-align: center;
            text-shadow: 0px 0px 3px white;
        }

        .bg-title {
            padding: 0px 20px;
        }

        .callback-form {
            width: auto;
            background-color:rgba(0, 0, 0, 0.5);
        }

        .car-img {
            height: calc(100vw*900/1920);
        }

        .input {
            width: 60vw;
            position: absolute;
            top: calc(100vw*900/1920 - 20px + 30px);
            left: calc(50vw - 60vw/2); //половина экрана минус половина от длины формы
        }

        .input-text {
            width: 650px;
        }

        .swiper-arrow {
            display: none;
        }

        .swiper-container {
           margin-top: 0px;
        }
    }

    .block-main-container {
        width: 100vw;
        height: 630px;
        max-width: 1950px;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 0;
        background: var(--dark_gray);
    }

    .bg-small-text, .bg-title {
        padding-left: 25px;
    }

    .bg-text-new {
        position: absolute;
        right: 0;
        min-width: 440px;
        color: #fff;
        text-align: left;
        /*padding: 10px;*/
        background: black;
        width: calc(100% - 1300px);
        height: 630px;
        text-shadow: 0 0 30px rgba(0, 0, 0, .5);
        top: 0px;
        font-size: 20px;
        font-weight: 600;
        font-family: AudiTypeExt;
        /*margin: 10px 0;*/
        padding: 30px 30px 20px 30px;


        .bg-small-text {
            font-size: 16px;
            margin: 10px 0;
        }
    }

    .callback-form {
        width: 370px;
        padding: 20px 30px 20px 25px;
        background: #0E0E0E;
    }

    .input {
        width: 100%;
    }

    .input-text {
        font-size: 16px;
        margin: 10px 0 10px;
    }

    .car-img {
        width: 100vw;
        height: 630px;
        max-width: 1300px;
        &.q5 {
            background: url("../images/background/main-june.jpg") no-repeat;
            background-position-y: center;
            background-position-x:100%;
            background-size: cover;
        }
        &.q7 {
            background: url("../images/background/Q7_FB.jpg") no-repeat right;
            background-size: cover;
        }
        &.q8 {
            background: url("../images/background/Q8_FB.jpg") no-repeat right;
            background-size: cover;
        }
        &.vostok {
            background: url("../images/background/bg-vostok.jpg") no-repeat;
            background-position-y: center;
            background-position-x:23%;
            background-size: cover;
        }
    }

    .content-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu {
        width: 100%;
        height: 75px;
        padding: 0px 13vw;
        color: black;
        background: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu-button {
        padding: 5px 23px 10px;
        font-size: 14px;
        font-family: AudiTypeExt, sans-serif;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            color: var(--audi_red);
        }
    }

    .menu-container {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        padding-bottom: 5px;
        border-bottom: 1.4px solid black;
    }

    .swiper-container {
        width: 100vw;
        margin-top: 75px;
        overflow: visible;
    }

    .swiper-arrow {
        width:30px;
        height: 56px;
        position: absolute;
        top: calc(50% - 28px);
        z-index: 20;
        cursor: pointer;
        outline: none;
    }

    .swiper-arrow-left {
        background: url('../images/utils/arrow-left.png') no-repeat center;
        background-size: contain;
        left: 0;
        margin-left: 10px;
    }

    .swiper-arrow-right {
        background: url('../images/utils/arrow-right.png') no-repeat center;
        background-size: contain;
        right: 0;
        margin-right: 10px;
    }

    @media (max-width: 1700px) {
        .desktop {
            .menu {
                padding: 0 3vw;
            }

            .car-img {
                width: calc(100vw - 440px);
                &.vostok {
                    background-position-x: 15%;
                }
                &.q5 {
                    background-position-x: 30%;
                }
                &.q7 {
                    background-position-x:60%;
                }
                &.q8 {
                    background-position-x: 80%;
                }
            }
        }
    }

    @media (max-width: 520px) {
        .mobile {
            .input {
                min-width: 300px;
                left: calc(50vw - 300px/2);
            }
        }
    }
</style>
