<template>
    <div class="block-clock-container" :class="[device_platform]">
        <div class="bclock-header">
            До окончания предложения осталось:
        </div>
        <div class="bclock-clock" id="block_clock">

            <!--<div class="timers-wrapper">
                <div class="timer" v-for="item in c_borders">
                    <svg :width="c_size"
                         :height="c_size"
                         :viewbox="c_viewbox">
                        <path :d="item"
                              :transform="c_translate"></path>
                    </svg>
                </div>
            </div>
            <div v-for="stat in date_parts" class="bclock-clock-stat">
                <div class="bclock-clock-stat__value">
                    {{stat.value}}
                </div>
                <div class="bclock-clock-stat__name">
                    {{stat.name}}
                </div>
            </div> -->
        </div>

    </div>
</template>

<script>
    import Mixin from '../common/mixin';
    import CF from '../common/common-functions';

    export default {
        name: 'block-clock',
        components: {},
        directives: {},
        mixins: [Mixin],
        props: [''],
        data() {
            return {
                days_num: 7, // it`s better to write days for current action
                mobile_size: 60, // for moving borders svg attrs
                size: 76,
                date_parts: [
                    {
                        name: 'Дней',
                        units: 'days',
                        value: 0,
                        period: 0,
                    },
                    {
                        name: 'Часов',
                        units: 'hours',
                        value: 0,
                        period: 24,
                    },
                    {
                        name: 'Минут',
                        units: 'minutes',
                        value: 0,
                        period: 60,
                    },
                    {
                        name: 'Секунд',
                        units: 'seconds',
                        value: 0,
                        period: 60,
                    }
                ]
            }
        },
        created() {
            let small_part_multiplier = 1,
                time_left = (this.CONSTANTS.end_date.getTime() - Date.now()) / 1000;
            for (let i = this.date_parts.length - 1; i >= 0; --i) {
                let part = this.date_parts[i];
                part.value = Math.floor((time_left / small_part_multiplier) % (part.period || 10000));
                part.name = this.getName(part);
                small_part_multiplier = small_part_multiplier * part.period;
            }
            setInterval(this.clockTick, 1000);
        },
        computed: {
            c_borders() {
                return this.date_parts.map(el => {
                        let angle = 0;
                        if (el.units === 'seconds' || el.units === 'minutes') {
                            angle = (60 - el.value) * 6 - 0.1;
                        } else if (el.units === 'hours') {
                            angle = (24 - el.value) * 15 - 0.1;
                        } else {
                            angle = (this.days_num - el.value) * 360 / this.days_num - 0.1;
                        }
                        angle %= 360;
                        let r = (angle * Math.PI / 180),
                            mp = this.device_platform === 'mobile' ? 30 : 38,
                            x = Math.sin(r) * mp,
                            y = Math.cos(r) * -mp,
                            mid = (angle > 180) ? 1 : 0;
                        return 'M 0 0 v -' + mp + ' A ' + mp + ' ' + mp + ' 1 ' + mid + ' 1 ' + x + ' ' + y + ' z';
                    }
                )
            },
            c_size() {
                return this.device_platform === 'mobile' ? this.mobile_size : this.size;
            },
            c_viewbox() {
                let box = '0 0 ' + this.size + ' ' + this.size;
                let mobile_box = '0 0 ' + this.mobile_size + ' ' + this.mobile_size;
                return this.device_platform === 'mobile' ? mobile_box : box;
            },
            c_translate() {
                let translate = 'translate(' + this.size / 2 + ', ' + this.size / 2 + ')';
                let mobile_translate = 'translate(' + this.mobile_size / 2 + ', ' + this.mobile_size / 2 + ')';
                return this.device_platform === 'mobile' ? mobile_translate : translate;
            }
        },
        mounted() {
            var timer_block = document.getElementById('timer_block');
            timer_block.classList.remove('hidden_clock');
            this.$el.childNodes[1].appendChild(timer_block);
        },
        methods: {
            clockTick() {
                for (let i = this.date_parts.length - 1; i >= 0; --i) {
                    if (this.date_parts[i].value > 0) {
                        --this.date_parts[i].value;
                        this.date_parts[i].name = this.getName(this.date_parts[i]);
                        return;
                    }
                    this.date_parts[i].value = this.date_parts[i].period - 1;
                    this.date_parts[i].name = this.getName(this.date_parts[i]);
                }
            },
            getName(date_part) {
                return CF.getNumericalName(date_part.value, date_part.units);
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../styles/constants.scss";

    .desktop {
        &.block-clock-container {
            height: 180px;
            width: 650px;
            /*margin-top: 40px;*/
        }

        .bclock-header {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    .mobile {

        &.block-clock-container {
            top: -50px;
            width: 600px;

            &:after {
                bottom: -60px;
                border-left: 300px solid transparent;
                border-right: 300px solid transparent;
                border-top: 60px solid #ebebeb;

            }

        }
    }

    .tablet {
        &.block-clock-container {
            top: -50px;
            width: 600px;

            &:after {
                bottom: -60px;
                left: 0;
                right: 0;
                height: 0;
                border-left: 300px solid transparent;
                border-right: 300px solid transparent;
                border-top: 60px solid #ebebeb;

            }

        }
    }

    .block-clock-container {
        position: relative;
        top: -90px;
        height: 220px;
        width: 650px;
        display: flex;
        flex-direction: column;
        margin: 65px auto 0;
        padding: 10px;
        justify-content: center;
        align-items: center;
        min-width: 300px;
        align-self: center;
        background: #E9E9E9;
        
        z-index: 10;

        &:after {
            content: "";
            position: absolute;
            bottom: -70px;
            left: 0;
            right: 0;
            height: 0;
            border-left: 325px solid transparent;
            border-right: 325px solid transparent;
            border-top: 70px solid #ebebeb;
   
        }
    }

    .bclock-header {
        font-family: AudiTypeExt;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        color: black;
        max-width: 100%;
    }

    .bclock-clock {
        display: flex;
        justify-content: center;
        margin: 10px;
        position: relative;
    }

    .bclock-clock-stat {
        width: 70px;
        height: 70px;
        border: 5px solid transparent;
        border-radius: 50%;
        margin: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #333333;
        position: relative;
        z-index: 2;

    }

    .bclock-clock-stat__value {
        font-size: 26px;
        font-weight: bold;
        color: #fff;
        position: relative;
    }

    .bclock-clock-stat__name {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        position: relative;
    }

    .timers-wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    .timer {
        margin: 5px;
    }

    path {
        fill: #fff
    }

    @media (max-width: 620px) {
        .mobile {
            &.block-clock-container {
                top: -50px;
                height: 310px;
                justify-content: space-around;
                width: 300px;
                z-index: 99999;

                &:after {
                    bottom: -50px;
                    border-left: 150px solid transparent;
                    border-right: 150px solid transparent;
                    border-top: 50px solid #ebebeb;

                }
            }
        }
    }

</style>
