<template>
    <section class="header-block-container" :class="[device_platform, menuToggled ? 'active' : '']">
        <section class="header-data">
            <section class="salons-block" v-if="device_platform !== 'mobile'">
                <section v-for="(salon, index) in salons" class="salon-container" @click="selectOffice(index)">
                    <div class="salon-brand">
                        Ауди
                    </div>
                    <div class="salon-name">
                        {{salon.name}}
                    </div>
                <!--    <a v-show="device_platform !== 'desktop'" class="salon-phone" :href="'tel:'+ salon.phone_raw">
                        <span class="phone-number">{{salon.phone}}</span>
                    </a>-->
                    <div class="salon-address">
                        {{salon.address}}
                    </div>
                    <a class="salon-phone" :href="'tel:'+ salon.phone_raw">
                        <span class="phone-number">{{salon.phone}}</span>
                    </a>
                    <div class="salon-worktime">
                        {{salon.worktime}}
                    </div>
                </section>
            </section>
            <section class="right_block">
                <section class="header-menu" v-if="device_platform === 'mobile'">
                    <section class="nav-menu" v-if="menuToggled">
                        <div class="button_common" @click="scrollTo('advantages')">
                            Спецпредложения
                        </div>
                        <div class="button_common" @click="scrollTo('Q5')">
                            Audi Q5
                        </div>
                        <div class="button_common" @click="scrollTo('Q7')">
                            Audi Q7
                        </div>
                        <div class="button_common" @click="scrollTo('Q8')">
                            Audi Q8
                        </div>
                        <div class="button_common" @click="scrollTo('contacts')">
                            Контакты
                        </div>
                    </section>
                    <div class="menu-arrow" :class="{rotated: menuToggled}" v-if="device_platform ==='mobile'"
                         @click="toggleMenu"></div>
                </section>
                <div class="callback-btn">
                    <a href="#callkeeper">Обратный звонок</a>
                </div>
                <div class="logo-audi" @click="getCall({type: 'sale', form:'header'})"></div>
            </section>
        </section>
      <!--  <div class="underheader-fix"></div>-->
    </section>
</template>

<script>
    import Mask from '../common/mask';
    import Mixin from '../common/mixin';
    import Keyup from '../common/keyup';
    import OuterClick from '../common/outer-click';
    import CallbackForm from './callback-form';
    import CONSTANTS from '../common/constants';

    import $ from 'jquery';

    export default {
        name: '',
        components: {CallbackForm},
        directives: {Mask, Keyup, OuterClick},
        mixins: [Mixin],
        data() {
            return {
                show: {
                    creq: false
                },
                menuToggled: false,
                salons: CONSTANTS.salons,
                is_scrolled: 0,
            }
        },
        mounted() {
            $('html').on('keyup', (event) => {
                if (event.keyCode === 27) {
                    this.show.creq = false;
                }
            });
        },
        methods: {
            toggleMenu() {
                this.menuToggled = !this.menuToggled;
            },
            scrollTo(where) {
                let newhash = '#' + where;
                history.replaceState(null, null, newhash);
                this.$emit('scrollTo', where);
            },
            selectOffice(index) {
                this.$emit('selectOffice', index)
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../styles/constants.scss";
    .mobile {
        &.header-block-container {
            height: 240px;
            &.active {
                height: 450px;
                .header-data {
                    height: 450px;
                    .callback-btn {
                        margin-top: 250px;
                    }
                }
            }
        }

        .callback-btn {
            order: 3;
            margin-top: 25px;
            margin-bottom: 35px;
        }

        .header-data {
            width: 100%;
            height: auto;
            padding: 0;
            position: relative;
            display: block;
            box-shadow: none;
            border-bottom: none;
        }

        .header-menu {
            order:2;
            margin-top: 20px;
            background:white;
            position: static;
            box-shadow: 0 5px 2px -2px #E9E9E9;
            border-bottom: 3px solid #DCDCDC;
        }

        .logo-audi {
            order: 1;
            width: 100%;
            margin-top: 20px;
            background-size: initial;
            position: static;
        }

        .menu-arrow {
            width: 100vw;
        }

        .right_block {
            width: 100%;
            height: auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }


    .tablet {
        &.header-block-container {
            height: 290px;
        }

        .callback-btn {
            order: 2;
            margin-bottom: 10px;
        }

        .header-data {
            width: 100%;
            height: 290px;
            padding: 0;
            flex-direction: column;
            justify-content: space-around;
            box-shadow: none;
            border-bottom: none;
            position: static;
        }

        .logo-audi {
            margin-top: 25px;
            margin-bottom: 25px;
            position: static;
        }

        .salons-block {
            width: 100%;
            height: 140px;
            justify-content: space-around;
            box-shadow: 0 5px 2px -2px #E9E9E9;
            border-bottom: 3px solid #DCDCDC;
        }

        .right_block {
            width: 100%;
            height: 150px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
	
	a {
		color: white;
	}

    .callback-btn {
        width: 230px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        color: white;
        cursor: pointer;
        border-radius: 2px;

    }

    .header-data {
        width: 100%;
        height: 140px;
        padding: 0px 13vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--header_background);
        color: #000;
        z-index: 11;
        box-shadow: 0 5px 2px -2px #E9E9E9;
        border-bottom: 3px solid #DCDCDC;
        position: fixed;
        top: 0;
    }

    .header-block-container {
        width: 100%;
        height: 140px;
    }

    .header-menu {
        height: 50px;
        position: relative;
        top: 150px;
      /*  display: flex*/;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 20;
    }

    .logo-audi {
        background: url('../images/logo-audi-black.png') no-repeat center;
        width:110px;
        height: 34px;
        position: relative;
        top: 10px;
        background-size: contain;
        cursor: pointer;
    }

    .menu-arrow {
        width: 40px;
        height: 40px;
        background: url("../images/strelka-mobile.png") no-repeat center;
        background-size: contain;

        &.rotated {
            background: url("../images/strelka-mobile-up.png") no-repeat center;
            background-size: contain;
            margin-top: 5px;
        }
    }

    .phone-number {
        color: black;
        font-weight: 600;
    }

    .right_block {
        width: 31%;
        display: flex;
        justify-content: space-between;
    }

    .salon-address {
        width: 230px;
        margin-bottom: 10px;
    }

    .salons-block {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .salon-brand {
        color: rgb(204, 0, 51);
    }

    .salon-container {
        font-size: 13px;
        font-weight: 300;
        font-family: AudiTypeExt;
    }

    .salon-name {
        margin-bottom: 5px;
        font-weight: 600;
        text-align: start;
    }

    .salon-phone {
        font-size: 17px;
    }

    .salon-worktime {
        margin-bottom: 5px;
        font-size: 13px;
    }

    @media (max-width: 1700px) {
        .desktop {
            .header-data {
                padding: 0 3vw;
            }
        }
    }

    @media (max-width: 1400px) {
        .desktop {
            .salons-block {
                width: 65%;
            }
        }
    }
</style>
