<template>
	<section class="block-cars-container" :class="device_platform">
		<div class="block-header">3 Дилерских Центра Ауди - трехкратное преимущество для вас.<br>Получите за один звонок.</div>
		<section class="cars-container">
			<section class="car-block" v-for="car in cars" :id="car.model">
				<div class="car-img" :class="car.model"></div>
				<section class="car-info">
					<section class="car-title">
						<div class="car-name">{{car.name}}</div>
						<div class="car-price" v-if="car.price">от {{car.price | finance}} рублей</div>
					</section>
					<section class="car-bonuses">
						<section v-for="bonus in car.bonuses" class="bonus">
							<div class="bonus-arrow"></div>
							<div class="bonus-text" v-html="bonus"></div>
						</section>
					</section>
					<div class="callback-btn">
						<a href="#callkeeper">Получить предложение</a>
					</div>
				</section>
			</section>
		</section>
	</section>
</template>

<script>
    import Finance from '../common/finance';
    import Mixin from '../common/mixin';
    import CarsInfo from '../common/cars-info';
    import smoothScrollTo from "../common/smoothScrollTo";

    export default {
        name: "block-cars",
        components: {},
        directives: {},
        mixins: [Finance, Mixin],
        props: ['panelOpened'],
        data() {
            const CARS = CarsInfo.CARS;

            return {
                cars: CARS
            }
        },
        methods: {
        }
    }
</script>

<style scoped lang="scss">
    @import "../styles/constants.scss";
	.mobile {

		.block-header {
			font-size: 20px;
			padding: 0px 40px;
		}

		.callback-btn {
			margin-bottom: 15px;
		}

		.car-title {
			width: 100%;
			padding-left: 28px;
			flex-direction: column;
			align-items: flex-start;
		}

		.car-block {
			width: 300px;
			height: auto;
			padding: 20px 0px;
			margin: 5px 0px;
		}

		.car-bonuses {
			height: auto;
			margin-bottom: 30px;
		}

		.cars-container {
			flex-direction: column;
			align-items: center;
		}
	}

	.tablet {
		.block-header {
			font-size: 25px;
		}

		.car-block {
			width: 750px;
			height: auto;
			margin: 10px 0px;
			flex-direction: row;
		}

		.car-info {
			width: 320px;
			height: auto;
			align-items: flex-start;
		}

		.cars-container {
			flex-direction: column;
			align-items: center;
		}


	}

	a {
		color: white;
	}

	.block-cars-container {
		width: 100%;
	}

	.block-header {
		text-align: center;
		font-size: 30px;
		font-family: AudiTypeExt, sans-serif;
		font-weight: 600;
		margin: 67px 0;
	}

	.bonus {

		display: flex;
		justify-content: flex-start;
	}

	.bonus-arrow {
		background: url('../images/utils/arrow-red.png') no-repeat center;
		background-size: contain;
		margin-right: 5px;
		width:25px;
		min-width: 25px;
		height: 23px;
	}

	.bonus-text {
		text-align: left;
	}

    .callback-btn {
        width: 230px;
        height: 54px;
		margin-bottom: 10px;
		margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        color: white;
        cursor: pointer;
        border-radius: 2px;
    }

	.car-bonuses {
		height: 172px;
		margin-bottom: 15px;
		color: #414141;
	}

	.car-block {
		width: 400px;
		height: 520px;
		margin: 0px 5px;
		padding: 15px 30px;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		border: 1px solid #DCDCDC;
		box-shadow: 0px 3px 20px #E9E9E9;
	}
	.car-title {
		width: 90%;
		margin-bottom: 15px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.car-img {
		width: 315px;
		height: 170px;
		&.q5 {
			background: url('../images/cars/q5.png');
			background-size: cover;
		}
		&.q7 {
			background: url('../images/cars/q7.png');
			background-size: cover;
		}
		&.q8 {
			background: url('../images/cars/q8.png');
			background-size: cover;
		}
	}

	.car-info {
		height: calc(100% - 185px);
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}

	.car-name {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 1.2px;
	}

	.car-price {
		letter-spacing: 1.5px;
	}

	.cars-container {
		width: 100%;
		display: flex;
		justify-content: center;
	}

</style>
