<template>
    <div class="block-legal-container" :class="[device_platform]">
        <div class="expander">
            <div class="expander-button" @click="expanded = !expanded">
                Подробные условия акции
            </div>
        </div>
        <transition name="slide">
            <div class="text-container" v-show="expanded">
                <div class="legal-text-block">
¹ На автомобили марки Audi производителем предоставляется гарантия качества на срок 2 года, а также на дополнительные 2 года или до достижения общего пробега автомобиля 120 000 км (в зависимости от того, какое событие наступит ранее), при этом в первые два года пробег не ограничивается и не учитывается<br>

<br>² Предоставление денежного преимущества в виде снижения цены приобретаемого автомобиля на сумму, указанную на данной странице, которая устанавливается в зависимости от выбранной модели. Денежный эквивалент бонуса не выдается. Воспользоваться предложением могут клиенты при приобретении нового автомобиля Audi, со сдачей в зачет стоимости нового автомобиля прежнего автомобиля марки Audi, Mercedes-Benz, BMW, Volvo, Lexus, Infiniti, Jaguar, Land Rover или Porsche возрастом до 7 лет с даты первой регистрации по ПТС. Условия программы не распространяются на марки российского и китайского производства. Предложение не является публичной офертой. Подробности уточняйте у сотрудников отдела продаж.<br>

<br>³ При условии сдачи в трейд-ин Audi A8 или Audi S8 возрастом до 7 лет с даты первой регистрации по ПТС.<br>

<br>⁴ Программа действует для автомобилей, проданных через дилерскую сеть марки Audi на территории Российской Федерации не ранее 01.01.2013 и зарегистрированных на территории Российской Федерации. Программа действует в течение 2 лет с момента приобретения автомобиля. Участие в программе пролонгируется до 5 лет при условии обслуживания в официальном дилерском центре в соответствии с регламентом технического обслуживания, установленным производителем, после истечения гарантийного периода (подтверждение - соответствующие отметки в цифровой сервисной книжке). Подробную информацию уточняйте на www.audi.ru.<br>

<br>⁵ ТО-0 и ТО-1, при покупке автомобиля до 30.09.2019. Подробности уточняйте у сотрудников отдела продаж.<br>

<br>⁶ Основные условия кредитования ООО «Фольксваген Банк РУС» (далее Банк) на покупку нового Audi A6 по продукту «Кредит на приобретение нового автомобиля» валюта кредита – рубли РФ; сумма кредита от 120 тыс. до 4 млн. руб. Процентная ставка (в % годовых) при сроке от 12 до 36 мес. – 6% при первоначальном взносе (далее ПВ) от 30% (включительно) и оформлении договора личного страхования, заключаемого в отношении заемщика. При отказе заемщика от заключения договора личного страхования процентная ставка составит – 9%. Обеспечение по кредиту – залог приобретаемого автомобиля.<br>
Условия действительны на 01.09.2019 и могут быть изменены Банком. Информация по телефону Банка: 8-800-700-75-57 (звонок по России бесплатный). Лицензия ЦБ РФ № 3500, 117485, г. Москва, ул. Обручева, д.30/1, стр.2. www.vwbank.ru<br>

<br>⁷ Основные условия кредитования ООО «Фольксваген Банк РУС» (далее Банк) на покупку нового Audi Q5 по продукту «Кредит на приобретение нового автомобиля» валюта кредита – рубли РФ; сумма кредита от 120 тыс. до 4 млн. руб.<br>
Процентная ставка (в % годовых) при сроке до 12 мес. – 5% при первоначальном взносе (далее ПВ) от 60% (включительно) и оформлении договора личного страхования, заключаемого в отношении заемщика. При отказе заемщика от заключения договора личного страхования процентная ставка составит 8%.<br>
Процентная ставка (в % годовых) при сроке от 13 до 36 мес. – 7,9% при первоначальном взносе (далее ПВ) от 30% (включительно) и оформлении договора личного страхования, заключаемого в отношении заемщика. При отказе заемщика от заключения договора личного страхования процентная ставка составит 10,9%.<br>

<br>Основные условия кредитования ООО «Фольксваген Банк РУС» (далее Банк) на покупку нового Audi Q7, Audi Q8 по продукту «Кредит на приобретение нового автомобиля» валюта кредита – рубли РФ; сумма кредита от 120 тыс. до 4 млн. руб.<br>
Процентная ставка (в % годовых) при сроке от 12 до 36 мес. – 9,9% при первоначальном взносе (далее ПВ) от 30% (включительно) и оформлении договора личного страхования, заключаемого в отношении заемщика.<br>
При отказе заемщика от заключения договора личного страхования процентная ставка составит – 12,9%.Обеспечение по кредиту – залог приобретаемого автомобиля.<br>

<br>Обеспечение по кредиту – залог приобретаемого автомобиля.<br>
Условия действительны на 01.09.2019 и могут быть изменены Банком. Информация по телефону Банка: 8-800-700-75-57 (звонок по России бесплатный). Лицензия ЦБ РФ № 3500, 117485, г. Москва, ул. Обручева, д.30/1, стр.2. www.vwbank.ru<br>

<br>⁸ При покупке автомобиля в кредит до 30.09.2019. Предложение не является офертой. Выгода достигается путем снижения стоимости автомобиля СПАО РЕСО-Гарантия. Подробности уточняйте у менеджеров отдела продаж.<br>

<br>⁹ Условия действительны на 01.09.2019 при покупке нового автомобиля в кредит и могут быть изменены. Предложение не является офертой. Подробности уточняйте у менеджеров отдела финансовых услуг.<br>

<br>¹º Сделав безупречный выбор в пользу нового Audi A8 или Q8, вы получите приглашение стать участником программы лояльности Audi, которая поможет вам наслаждаться не только роскошным автомобилем, но и исключительными привилегиями. Подробнее: https://www.audi.ru/ru/web/ru/clients/loyalty/luxury.html<br>

<br>* Количество автомобилей по специальному предложению ограничено. Изображенные автомобили могут быть оснащены оборудованием, устанавливаемым за дополнительную плату. Подробности уточняйте у менеджеров отдела продаж.<br>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import Mixin from '../common/mixin';
    import CF from '../common/common-functions';

    export default {
        name: "block-legal",
        mixins: [Mixin],
        data() {
            return {
                expanded: false
            }
        },
        computed: {
            end_date() {
                return CF.getMonthEnd();
            },
            start_date() {
                let today = new Date();
                let start = new Date(today.getFullYear(), today.getMonth(), 1);
                return start.toLocaleDateString();
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../styles/constants.scss";

    .desktop {

        &
        .block-legal-container {
            padding: 40px 10px 0;
        }

    }

    .mobile {

        &
        .block-legal-container {
            padding: 70px 14px 0;
            margin-top: 250px;
        }

    }

    .tablet {

        &
        .block-legal-container {
            padding: 50px 30px 0;
        }

    }

    .expander-container {
        display: flex;
        justify-content: center;
    }

    .block-legal-container {
        width: 100%;

        background: var(--dark_gray);
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;

    }

    .expander {
        padding-top: 30px;
        height: 20px;
        margin-bottom: 20px;
    }

    .expander-button {
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
        text-align: center;
        max-width: 300px;
        margin: auto;
    }

    .legal-text-block {
        max-width: 1300px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-container {
        margin-bottom: 50px;
    }

    .slide-enter-active {
        transition: all .3s ease;
    }

    .slide-leave-active {
        transition: all .3s;
    }

    .slide-enter, .slide-leave-to {
        transform: translateY(10px);
        opacity: 0;
    }

</style>
