<template>
    <div class="block-contacts-container" :class="[device_platform]">
        <div class="block-header">
            Контакты
        </div>
        <section class="info-block">
            <section class="salons-block">
                <section v-for="(salon,index) in salons" class="salon-container" @click="selectSalon(index)">
                 <section class="salon-wrapper">
                     <span style="font-weight: bold;"><span class="salon-brand">
                        Ауди
                     </span>{{salon.name}}</span>
                     <div class="salon-address">
                         {{salon.address}}
                     </div>
                     <a class="salon-phone" :href="'tel:'+ salon.phone_raw">
                         <span class="phone-number">{{salon.phone}}</span>
                     </a>
                     <div class="salon-worktime">
                         {{salon.worktime}}
                     </div>
                 </section>
                </section>
            </section>
            <callback-form class="callback-form" v-if="showForm" v-on="$listeners"
                           :agreementStyle="{color: 'white'}"
                           :questionClass="'hidden'"
                           :formClass="'grey_form'"
                           :type="'contacts'"
                           ref="callback-form"
                           :data="{type: 'sale', form: 'contacts'}">
            </callback-form>
        </section>
        <div class="content">
            <div id="ya-karto"></div>
        </div>
    </div>
</template>

<script>
    import Mask from '../common/mask';
    import Mixin from '../common/mixin';
    import Keyup from '../common/keyup';
    import CallbackForm from './callback-form';
    import CONSTANTS from '../common/constants.js';

    export default {
        name: '',
        components: {CallbackForm},
        directives: {Mask, Keyup},
        mixins: [Mixin],
        data() {
            return {
                showForm: true,
                current_salon: CONSTANTS.salons[0],
                salons: CONSTANTS.salons,
                map: null
            }
        },
        mounted() {
            this.$nextTick(this.waitYmaps);
        },
        watch: {
            current_salon() {
                if (!this.map) return;
                this.map.setCenter(this.getCenter(this.current_salon));
                this.$refs['callback-form'].$refs['callback-input'].$refs.salon_select.value = this.current_salon.phone;
            }
        },
        methods: {
            initYandexMap() {
                const isMobile = {
                    Android: function () {
                        return navigator.userAgent.match(/Android/i);
                    },
                    BlackBerry: function () {
                        return navigator.userAgent.match(/BlackBerry/i);
                    },
                    iOS: function () {
                        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                    },
                    Opera: function () {
                        return navigator.userAgent.match(/Opera Mini/i);
                    },
                    Windows: function () {
                        return navigator.userAgent.match(/IEMobile/i);
                    },
                    any: function () {
                        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
                    }
                };

                let zoomControl = new ymaps.control.ZoomControl({
                    options: {
                        position: {
                            left: 'auto',
                            right: 10,
                            top: 108,
                        }
                    }
                });

                let myMap = new ymaps.Map("ya-karto", {
                    center: this.getCenter(this.current_salon),
                    zoom: 16,
                    controls: []
                }, {
                    searchControlProvider: 'yandex#search'
                });
                if (!isMobile.any()) {
                    myMap.controls.add(zoomControl);
                }

                this.salons.forEach(el => {
                    myMap.geoObjects
                        .add(new ymaps.Placemark([el.coords.y_salon, el.coords.x_salon], {
                            iconCaption: el.address.substring(10),
                        }, {
                            iconColor: 'red'
                        }));
                });
                if (isMobile.any() || this.device_platform !== 'desktop') {
                    myMap.behaviors.disable('drag');
                }
                myMap.behaviors.disable('scrollZoom');
                this.map = myMap;
            },
            waitYmaps() {
                let script = document.createElement('script');
                script.src = '//api-maps.yandex.ru/2.1/?load=package.standard&lang=ru_RU';
                document.head.appendChild(script);
                script.onload = () => {
                    ymaps.ready(this.initYandexMap);
                };
            },
            selectSalon(index) {
                if (this.salons[index].address === this.current_salon) return;
                this.current_salon = this.salons[index];
            },
            getCenter(salon) {
                let center_x;
                let center_y;

                switch (this.device_platform) {

                    case 'desktop':
                        center_x = salon.coords.x_center_desktop;
                        center_y = salon.coords.y_center_desktop;
                        break;

                    case 'tablet':
                        center_x = salon.coords.x_center_tablet;
                        center_y = salon.coords.y_center_tablet;
                        break;
                    case 'mobile':
                        center_x = salon.coords.x_center_mobile;
                        center_y = salon.coords.y_center_mobile;
                }

                return [center_y, center_x];
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../styles/constants.scss";

    .desktop {
        &.block-contacts-container {
            position: relative;
            height: 730px;

        }
        .content {
            position: relative;
            height:450px;
        }
        .content-place {
            position: relative;
        }
        .callback-form {
            position: absolute;
            left: 10%;

            top: 40px;
        }
        #ya-karto {
            width: calc(100vw - 15px);
            height: 600px;
            position: absolute;
            top: 0;
        }
        .form-container {
            position: relative;
        }

        .question {
            display: none;
        }
    }

    .mobile {
        &.block-contacts-container {
            position: relative;
            height: 1250px;

        }

        .block-header {
            font-size: 20px;
        }

        .content {
            position: relative;
            height:650px;
            margin-top: 200px;
        }

        .callback-form {
            position: absolute;
            left: 10%;
            top: 40px;
            margin-left: 12.5px;
        }
        #ya-karto {
            width: 100%;
            height: 800px;
            position: absolute;
            top: 0;
        }
        .form-container {
            position: relative;
            margin-top: 0px;
        }

        .question {
            display: none;
        }

        .salons-block {
            flex-direction: column;
            width:325px;
            align-items: initial;
        }

        .info-block {
            width:325px;
            height: 90%;
            left:calc(50% - 325px/2);
            flex-direction: column;
            justify-content: space-between;
        }

        .salon-container {
            .salon-wrapper {
                margin: 0;
                padding-right: 0;
            }
            &:nth-of-type(2n+1) {
                .salon-wrapper {
                    padding: 20px 70px 20px 20px;
                }
            }
            &:nth-of-type(2) {
                .salon-wrapper {
                    border-top: 1.1px solid black;
                    border-bottom: 1.1px solid black;
                    border-right: none;
                    border-left: none;
                    padding: 10px 70px 10px 20px;
                    margin: 0px 50px 0px 0px;
                }
            }
        }

    }

    .tablet {
        &.block-contacts-container {
            position: relative;
            height: 950px;

        }

        .block-header {
            font-size: 25px;
        }

        .content {
            position: relative;
            height:450px;
            margin-top: 280px;
        }

        .callback-form {
            position: absolute;
            left: 10%;

            top: 40px;
        }
        #ya-karto {
            width: calc(100vw - 15px);
            height: 600px;
            position: absolute;
            top: 0;
        }
        .form-container {
            position: relative;
            margin-top: 0px;
            margin-left: 20px;
        }

        .question {
            display: none;
        }

        .salons-block {
            flex-direction: column;
            width:350px;
            align-items: initial;
        }

        .info-block {
            left: 0;
            flex-direction: row;
        }

        .salon-container {
            .salon-wrapper {
                margin: 0;
                padding-right: 0;
            }
            &:nth-of-type(2n+1) {
                .salon-wrapper {
                    padding: 20px 70px 20px 20px;
                }
            }
            &:nth-of-type(2) {
                .salon-wrapper {
                    border-top: 1.1px solid black;
                    border-bottom: 1.1px solid black;
                    border-right: none;
                    border-left: none;
                    padding: 10px 70px 10px 20px;
                    margin: 0px 50px 0px 0px;
                }
            }
        }

    }

    .block-contacts-container {
        width: 100%;
    }

    .content-place {
        max-width: 1100px;
        margin: auto;
        display: flex;
        justify-content: start;
    }

    .block-header {
        text-align: center;
        /*text-transform: uppercase;*/
        font-size: 30px;
        font-family: AudiTypeExt, sans-serif;
        font-weight: 600;
        margin: 40px 0 54px 0;
    }

    .callback-form {
        background: rgba(0, 0, 0, 0.5) !important;
        position: static !important;
        margin-top: 10px;

        .callback-form {
            background: rgba(0, 0, 0, 0.5) !important;
        }
    }

    .input {
        width: 100%;
        background: #0E0E0E;
    }

    .input-text {
        font-size: 16px;
        margin: 10px 0 10px;
    }

    .info-block {
        width: 1050px;
        position: absolute;
        left: calc(50% - 1050px/2);
        top: 0;
        margin-top: 105px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .phone-number {
        color: black;
        font-weight: 600;
        font-size: 19px;
    }

    .salon-address {
        width: 230px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .salons-block {
        width:1050px;
        display: flex;
        background: #ebebeb;
        justify-content: flex-start;
        align-items: center;
    }

    .salon-brand {
        color: rgb(204, 0, 51);
    }

    .salon-container {
        &:nth-of-type(2n+1) {
           .salon-wrapper {
               padding-right: 90px;
           }
        }
        &:nth-of-type(2) {
            .salon-wrapper {
                border-right: 1.1px solid black;
                border-left: 1.1px solid black;
            }
        }
    }

    .salon-name {
        margin-bottom: 5px;
        font-weight: bold;
        text-align: start;
    }

    .salon-phone {
        font-size: 17px;
    }

    .salon-worktime {
        margin-bottom: 5px;
        font-size: 13px;
    }

    .salon-wrapper {
        font-size: 13px;
        font-weight: 300;
        padding: 0px 40px;
        margin: 25px 0px;
        font-family: AudiTypeExt;
    }
</style>
