<template>
    <div class="checkbox-container" @click="change">
        <div class="checkbox-itself" :class="{'checked': is_true}"></div>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        components: {}, name: 'CheckBox',
        props: ['value'],
        data() {
            return {}
        },
        computed: {
            is_true() {
                if (!Array.isArray(this.value)) {
                    return this.value;
                }
                return this.value.includes(this.$attrs.value);
            }
        },
        methods: {
            change() {
                if (!Array.isArray(this.value)) {
                    this.$emit('input', !this.value);
                } else {
                    let index = this.value.indexOf(this.$attrs.value);
                    if (index >= 0) {
                        this.$emit('input', this.value.filter(item => item != this.$attrs.value));
                    } else {
                        let ret = this.value.map(e => e);
                        ret.push(this.$attrs.value);
                        this.$emit('input', ret);
                    }
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .checkbox-container {
        cursor: pointer;
        padding: 2px 10px 0 0;
        display: flex;
        white-space: nowrap;
        align-items: center;
    }

    .checkbox-itself {
        width: 20px;
        height: 20px;
        display: block;
        float: left;
        flex-shrink: 0;

        &.checked {
            background: url(../images/checkboxes/forma-soglasie.png) no-repeat center;
        }
        &:not(.checked) {
            background: transparent;
            border: 1.3px solid white;
        }
    }

    .checkbox-itself + * {
        margin-left: 10px;
    }
</style>