<template>
    <div oc-callback-form>
        <div class="blacking" @click="hideSelf"></div>
        <div class="agreement-container">
            <div class="close" @click="hideSelf">X</div>
            <div class="agreement-text">
                <b>Согласие на обработку персональных данных</b>
                <br>
                <br>
                Настоящим даю согласие на обработку моих вышеуказанных персональных данных Оператору ООО "Ауди Центр
                Варшавка" (117556, г. Москва, Варшавское ш., д. 91А). с целями:
                <br>
                <br>
                - учета предоставленной информации в базах данных;
                <br>
                <br>
                - проведения статистических исследований, а также
                исследований, направленных на улучшение качества продукции и услуг;
                <br>
                <br>
                - проведения маркетинговых программ, в
                том числе, для продвижения товаров, работ, услуг на рынке;
                <br>
                <br>
                - информирования меня о новых товарах и услугах Оператора и партнеров Операторов (например, посредством
                отправки журналов, отправки приглашений на
                презентации продуктов, сообщений о технических нововведениях, предстоящих работах по сервисному
                обслуживанию, условиях покупки нового автомобиля и т.д.) с помощью различных средств связи, а именно
                посредством: интернет; сообщений на адрес электронной почты; коротких текстовых сообщений (SMS) и
                мультимедийных сообщений (MMS) на номер телефона; а также посредством использования
                информационно-коммуникационных сервисов, таких как Viber, WhatsApp и тому подобных; телефонных звонков.
                <br>
                <br>
                Я разрешаю совершать со своими персональными данными следующие действия: сбор, систематизацию,
                накопление, хранение (в электронном виде и на бумажном носителе), уточнение (обновление, изменение),
                использование, распространение (в том числе передачу) моих персональных данных в ООО "ФОЛЬКСВАГЕН Груп
                Рус" (248926, г. Калуга, ул. Автомобильная, д. 1 / (почтовый адрес) адрес Филиала в г. Москве) 117485,
                г. Москва, ул. Обручева, д. 30/1) и иным третьим лицам, с которыми у Оператора имеются действующие
                договоры, в рамках которых Оператор поручает обработку персональных данных в вышеуказанных целях,
                включая трансграничную передачу персональных данных, обезличивание, блокирование, уничтожение, с
                использованием средств автоматизации и без использования таких средств. В целях проведения маркетинговых
                программ, в том числе для продвижения товаров, работ и услуг, ООО «ФОЛЬКСВАГЕН Груп Рус» может заключать
                соответствующие Договоры с третьими лицами относительно условий предоставления мне финансовых услуг.
                <br>
                <br>
                Настоящим я даю свое согласие на получение информации о предлагаемых такими третьими лицами финансовых
                услугах. Указанная информация может быть доведена до моего сведения как ООО «ФОЛЬКСВАГЕН Груп Рус», так
                и самими компаниями-партнерами ООО «ФОЛЬКСВАГЕН Груп Рус», предлагающими такие финансовые услуги,
                включая следующие: ООО «Фольксваген Банк РУС» (117485, г. Москва, ул. Обручева, д. 30/1, стр.1, ИНН:
                7750005605, лицензия ЦБ РФ №3500), ООО «ФВ Груп Финанц» (Россия, 107045, г. Москва, ул. Трубная, 12,
                ИНН: 7702349370); ООО «Фольксваген Финансовые Услуги РУС» (Россия, 107045, г. Москва, ул. Трубная, 12,
                ИНН: 7702656396. Полный перечень компаний-партнеров ООО «ФОЛЬКСВАГЕН Груп Рус» в области предоставления
                финансовых услуг размещен на сайте www.audi.ru. Я подтверждаю, что давая настоящее согласие на обработку
                моих вышеуказанных персональных данных, я нахожусь на территории Российской Федерации.
                <br>
                <br>
                Настоящее согласие на обработку персональных данных действует до момента его отзыва в соответствии со
                статьей 9 Федерального закона от 27.07.2006 г. №152-ФЗ «О персональных данных» посредством предоставления
                письменного заявления по почтовому адресу Оператора, указанному в настоящем согласии или в электронной
                форме посредством заполнения специальной формы «Обратная связь» на сайте www.audi-warshavka.ru
                Оператор и ООО «ФОЛЬКСВАГЕН Груп Рус» ведут деятельность на территории Российской Федерации в
                соответствии с законодательством Российской Федерации. Предлагаемые Оператором, а также привлекаемыми им
                третьими лицами в заявленных в настоящем согласии целях товары/работы/услуги доступны к получению на
                территории Российской Федерации. Мониторинг потребительского поведения лиц, находящихся за пределами
                Российской Федерации, как Оператором, так и привлекаемыми им третьими лицами, не ведется.
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: '',
        props: ['type'],
        methods: {
            hideSelf() {
                this.$emit('close');
            }
        }
    }
</script>

<style scoped lang="scss">
    .blacking {
        position: fixed;
        z-index: 500;
        top: -100vh;
        left: -100vw;
        bottom: -100vw;
        right: -100vh;
        background: #000;
        opacity: 0.5;
        cursor: default;
    }

    .agreement-container {
        top: 30px;
        height: calc(100vh - 90px);
        left: 15px;
        width: calc(100vw - 30px);
        position: fixed;
        z-index: 1200;
        background: #fff;
        padding: 40px 20px;
        cursor: default;
    }

    .close {
        position: absolute;
        font-size: 20px;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }

    .agreement-text {
        font-size: 14px;
        overflow: auto;
        max-height: 100%;
    }
</style>
