<template>
    <div :class="[device_platform]" class="get-container">
        <div class="blacking" @click="hideSelf"></div>
        <div class="callback-request-container" @click.self="hideSelf">
            <callback-form v-on="$listeners" class="callback"
                           :data="data"
                           :type="data.text_type ? data.text_type : 'summer'" @close="hideSelf">
            </callback-form>
        </div>
    </div>
</template>

<script>
    import Mask from '../common/mask';
    import Keyup from '../common/keyup';
    import CallbackForm from './callback-form';
    import Mixin from '../common/mixin';

    export default {
        name: '',
        components: {CallbackForm},
        mixins: [Mixin],
        directives: {Mask, Keyup},
        props: ['data'],
        data() {
            return {
                phone: '',
            }
        },
        methods: {
            hideSelf() {
                this.$emit('close');
            }
        }
    }
</script>

<style scoped lang="scss">

    .desktop {
        .callback-request-container {
            left: 50%;
            transform: translate(-50%);
        }
    }
    .tablet {
        .callback-request-container {
            left: calc(50%);
            transform: translate(-50%);
        }
    }

    .mobile {
        .callback-request-container {
            padding-left: 4px;
            padding-right: 4px;
            width: 100%;
            top: 10px;
            display: flex;
            justify-content: center;
        }
    }

    .get-container{
        width: 100%;
    }
    .callback-request-container {
        position: fixed;
        top: 18vh;
        z-index: 10;
    }

    .blacking {
        position: fixed;
        top: -100vh;
        left: -100vw;
        bottom: -100vw;
        right: -100vh;
        background: #000;
        opacity: 0.5;
        cursor: default;
        z-index: 10;
    }



</style>
