<template>
    <div class="panel" :class="[device_platform, { base: type==='Base'}]"
         v-outer-click="{func: hideSelf, friend: '.button-top'}">
        <div class="closer-container">
            <div class="closer" @click="hideSelf"></div>
        </div>
        <div class="scroll-container">
            <div class="content-container">
                <div class="item-container" v-if="type === 'Tech'" v-for="item in car.tech_info">
                    <div class="item-header">{{item.header}}</div>
                    <div class="item-content" v-for="line in item.text">{{line}}</div>
                </div>
                <div class="item-container" v-if="type==='Base'" v-for="item in car.base_info">
                    <div class="item-header">{{item.header}}</div>
                    <div class="item-content" v-for="line in item.text">{{line}}</div>
                </div>
                <div class="item-container" v-if="type === 'Premium'" v-for="item in car.premium_info">
                    <div class="item-header" v-html="item.header"></div>
                    <div class="item-content" v-for="line in item.text" v-html="line">
                    </div>
                </div>
                <div class="callback-container">
                    <callback-input v-on="$listeners">Получить предложение</callback-input>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CallbackInput from './callback-form/callback-input';
    import OuterClick from '../common/outer-click.js';

    import Mixin from '../common/mixin';

    export default {
        name: "information-panel",
        directives: {OuterClick},
        components: {CallbackInput},
        mixins: [Mixin],
        props: ['car', 'type'],
        data() {
            return {}
        },
        methods: {
            hideSelf() {
                this.$emit('close');
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../styles/constants.scss";

    .desktop {
        &.panel {
            &.base {
                width: 1220px;
                .content-container {
                    max-height: 1020px;
                }
            }

            &:not(.base) {
                width: 546px;
            }
        }
    }

    .tablet {
        &.panel {
            &.base {
                .content-container {
                    max-height: 800px;
                }
            }
            transform: translate(-50%);

            &:not(.base) {
                width: 546px;
            }
        }
        .content-container {
            flex-wrap: nowrap;
        }
    }

    .mobile {
        &.panel {
            border-top: 1px solid #000;
            width: calc(100% - 10px);
            top: 50px;
            left: 50%;
            transform: translate(-50%);
        }

        .callback-container {
            padding: 0 10px 10px 10px;
        }
    }

    .scroll-container {
        height: 80vh;
        overflow-y: auto;
    }

    .closer {

        background-image: url("../images/forma-close.png");
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }

    .panel {
        position: fixed;
        top: 110px;
        left: 50%;
        transform: translate(-90%);
        z-index: 15;
        background: #fff;
        box-shadow: 0 1px 2px #333;
        &.base {
            transform: translate(-50%);
        }

    }

    .content-container {
        display: flex;
        flex-flow: column wrap;
    }

    .closer-container {
        width: 100%;
        height: 25px;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 5px;
    }

    .item-container {
        margin-bottom: 13px;
        font-size: 14px;
        max-width: 600px;
    }

    .item-header {
        padding-left: 25px;
        font-weight: 600;
    }

    .item-content {
        padding-left: 40px;
        font-weight: 300;
    }

    .callback-container {
        padding: 24px 0 48px 43px;
    }

</style>