<template>
    <div id="app">
        <block-header
                v-on="block_handlers"></block-header>
        <block-main
                v-on="block_handlers" :cur_office="cur_office"></block-main>
        <block-clock></block-clock>
        <block-cars id="cars"
                    @getPanel="getPanel"
                    @getGallery="getGallery"
                    @close="closeThings"
                    :panelOpened="show.panel"
                    v-on="block_handlers"></block-cars>
        <block-advantages
                id="advantages"
                v-on="block_handlers"></block-advantages>
        <block-contacts id="contacts"
                        v-on="block_handlers"></block-contacts>
        <block-legal></block-legal>
        <block-footer></block-footer>
        <full-get v-if="show.get"
                  :data="data"
                  @close="closeThings"
                  @getAgreement="getAgreement"
                  @callBack="callThere"></full-get>
        <information-panel @close="closeThings"
                           @callBack="callThere"
                           v-if="show.panel"
                           :car="data.car"
                           :type="data.type"></information-panel>
        <full-thanks v-if="show.thanks"
                     @close="closeThings">
        </full-thanks>
        <preloader v-if="show.load"></preloader>
        <full-agreement v-if="show.agreement" @close="closeThings"></full-agreement>
    </div>
</template>

<script>
    import BlockHeader from './components/block-header';
    import BlockMain from './components/block-main';
    import BlockCars from './components/block-cars';
    import BlockClock from './components/block-clock';
    import BlockLegal from './components/block-legal';
    import BlockAdvantages from './components/block-advantages';
    import BlockContacts from './components/block-contacts';
    import BlockFooter from './components/block-footer';
    import FullGet from './components/full-get';
    import FullThanks from './components/full-thanks';
    import FullAgreement from './components/full-agreement';
    import Preloader from './components/preloader'

    import Mixin from './common/mixin';
    import Send from './common/send';

    import $ from 'jquery';

    import smoothScrollTo from "./common/smoothScrollTo";
    import InformationPanel from "./components/information-panel";

    import CONSTANTS from './common/constants';


    export default {
        name: 'app',
        components: {
            FullAgreement,
            InformationPanel,
            BlockHeader,
            BlockClock,
            BlockFooter,
            BlockContacts,
            BlockAdvantages,
            BlockCars,
            BlockMain,
            FullGet,
            FullThanks,
            BlockLegal,
            Preloader
        },
        mixins: [Mixin],
        data: function () {
            return {
                show: {
                    agreement: false,
                    gallery: false,
                    get: false,
                    thanks: false,
                    panel: false,
                    load: false,

                },
                cur_office: CONSTANTS.salons[0],
                data: {},
            };
        },
        mounted() {
            $('html').on('keyup', (event) => {
                if (event.keyCode === 27) {
                    this.closeThings();
                }
            });

            if (window.location.hash === '#credit') {
                this.scrollTo('credit');
            }
        },
        computed: {
            block_handlers() {
                return {
                    'getAgreement': this.getAgreement,
                    'scrollTo': this.scrollTo,
                    'callBack': this.callThere,
                    'getCall': this.handleGetCall,
                    'selectOffice': this.selectOffice
                }
            }
        },
        methods: {
            closeThings() {
                this.show.get = false;
                this.show.gallery = false;
                this.show.thanks = false;
                this.show.agreement = false;
                this.show.panel = false;
                this.data = {};
                this.unblockScroll();
            },
            getGallery(data) {
                this.show.gallery = true;
                this.data = data;
                this.blockScroll();
            },
            getPanel(data) {
                this.show.panel = true;
                this.data = data;
                this.blockScroll();
            },
            getAgreement() {
                this.show.agreement = true;
                this.blockScroll();
            },
            handleGetCall(data) {
                this.show.get = true;
                this.data = data;
                this.blockScroll();
            },
            scrollTo(where) {
                smoothScrollTo($('#' + where).offset().top - (this.device_platform === 'desktop' ? 120 : 5));
            },
            selectOffice(index) {
                this.cur_office = CONSTANTS.salons[index];
            },
            callThere(event) {
                const finishCall = () => {
                    this.closeThings();
                    this.show.load = false;
                    this.show.thanks = true;
                    if (typeof window.dataLayer !== 'undefined') {
                        window.dataLayer.push({
                            event: "callkeeper-call_order-ckaction",
                            eventCategory: "callkeeper",
                            eventAction: "call_order",
                            eventLabel: "ckaction"
                        });
                    }
                    console.log('done');
                };

                let req = Send(event, this.data);
                this.show.load = true;
                if (!req) {
                    finishCall();
                } else {
                    req.finally(finishCall);
                }
            }
        },

    }
</script>

<style lang="postcss" scoped>
    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .interblock-space_tiny {
        height: 5px;
    }

    .interblock-space_small {
        height: 60px;
    }

    .interblock-space_medium {
        height: 135px;
    }
</style>
